@model Team
@{
    ViewData["Title"] = "Best team ever";
}

<div class="text-center">
    <h2 class="display-4">BEST TEAM EVER</h2>
    <table>
        <tr>
            <th><strong>Id</strong></th>
            <th><strong>Country</strong></th>
            <th><strong>City</strong></th>
        </tr>
            <tr>
                <th>@Model.name</th>
                <th>@Model.country</th>
                <th>@Model.city</th>
            </tr>
    </table>
</div>
