@model IEnumerable<TeamGoalsViewModel>
@{
    ViewData["Title"] = "Team played more matches";
}

<div class="text-center">
    <h2 class="display-4">TEAMS WHICH PLAYED MORE MATCHES THAN ONE</h2>
    <table>
        <tr>
            <th><strong>Name</strong></th>
            <th><strong>Times played</strong></th>
        </tr>
        @foreach (var team in Model)
        {
            <tr>
                <th>@team.name</th>
                <th>@team.times_played</th>
            </tr>

        }
    </table>
</div>
